<!DOCTYPE html>
<html>



<head>
    <title>#{title}</title>
    <meta charset="utf-8" />
      <link href="D:\YandexDisk\[3] Учеба\3 курс 2 семестр 2019\Интернет-технолгии\Лабораторная работа №7\views\style.css" rel="stylesheet">
</head>
<body>
    <div class="card">
    <h1>#{title}</h1>
    <h2>#{description}</h2>
    <p>#{emails}</p>
    <p>#{phone}</p>
    </div>
</body>
<html>