<!DOCTYPE html>
<html>
<head>
    <title>#{title}</title>
    <meta charset="utf-8" />
    //<link rel="stylesheet" href="views/style.css">
</head>
<body>
    <div class="card">
    <h1>#{title}</h1>
    <h2>#{description}</h2>
    <p>#{emails}</p>
    <p>#{phone}</p>
    </div>
</body>
<html>